$themecolor: #000;
$highlight: #fffa8a;
$golden: linear-gradient(to right, #ecc440, #fffa8a, #ddac17, #ffff95);
$yellow: #ddac17;
$themefont: 'Rowdies', arial;

section {
    .title {
        width: 100%;
        text-align: center;
        line-height: 3rem;
        font-size: 2rem;
        letter-spacing: 2px;
    }

    .content {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 2%;

        .card {
            display: flex;
            width: 12rem;
            padding: 0;
            overflow: hidden;
            border-radius: .8rem;
            border: 2px solid $yellow;
            transition: all .4s;

            .items {
                height: 12rem;
                width: 100%;
                overflow: hidden;
                object-fit: cover;

                img {
                    width: 100%;
                }
            }

            .info {
                position: relative;
                padding: 0 3%;

                p {
                    line-height: 2rem;
                }

                button {
                    position: absolute;
                    bottom: 4px;
                    right: 4px;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 2rem;
                    z-index: 2;
                    background-color: $yellow;
                }
            }
        }
    }
}


// ====================================================================
// header
.header {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .4% 2%;
    background-color: transparent;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;

    a {
        color: #fff;
        border-radius: 50px;
        display: block;
        font-weight: 700;
        font-family: $themefont;
        letter-spacing: 2px;
        transition: background-color 0.4s;

        &:hover {
            background-color: $yellow;
            color: $themecolor;
            border: 1px solid #fff;
        }
    }

    .a-round {
        width: 6vh;
        height: 6vh;
    }

    .left {
        display: flex;
        flex-grow: 1;
        gap: 5%;

        .menu-btn {
            height: 6vh;
            width: 6vh;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                font-size: 2rem;
            }
        }

        .brand-logo {
            height: 100%;
            object-fit: cover;
            height: 6vh;
            width: 6vh;

            img {
                height: 100%;
            }
        }
    }

    .right {
        padding: 0 0 0 2%;
        height: 100%;
        flex-grow: 2;
        display: flex;
        justify-content: flex-end;
        gap: 1%;

        a {
            display: block;
            padding: 0 2%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            i {
                font-size: 1.4rem;
            }
        }

        .search-bar {
            display: none;
            gap: 2%;
            background-color: #fff;
            border-radius: 8px;
            overflow: hidden;
            height: 80%;

            input {
                padding: 0 3%;
                line-height: 2rem;
                background-color: transparent;
                border: transparent;
                outline: none;
            }

            button {
                width: 3rem;
                background-color: transparent;
                border: transparent;
                transition: all 0.4s;
                padding: 0 2%;

                i {
                    transition: all 0.4s;
                    font-size: 1.4rem;
                }
            }
        }

        .search-bar.active {
            display: flex;
        }

        .search-icon {
            i {
                font-size: 1.4rem;
                transition: all 0.4s;
            }
        }
    }
}

.scrolled {
    .header {
        a {
            background-color: $themecolor;
            border: 1px solid $yellow;
            border-radius: 15rem;

            &:hover {
                color: $yellow;
                filter: drop-shadow(0 0 1rem $yellow);
            }
        }
    }
}

// cover
.cover {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: $themecolor;
    z-index: -1;

    .info {
        z-index: 1;
        position: absolute;
        top: 10%;
        left: 10%;

        h1 {
            letter-spacing: 2px;
            font-size: 6rem;
            font-weight: 700;
            background-color: $themecolor;
            border: 2px solid #fff;
            color: $yellow;
            padding: 2px 5px;
            margin: 0;
            padding: 0 2rem;
            animation: flashing 1s linear infinite;
        }

        p {
            margin: .2rem 0;
            letter-spacing: 1px;
            color: #fff;
            background-color: $themecolor;
        }

        a {
            display: block;
            padding: 2% 5%;
            border: 1px solid #000;
            color: $themecolor;
            background-color: #fff;
            text-align: center;
            font-weight: 700;
            letter-spacing: 2px;
            border-radius: 50px;
            margin: 10% 0 0;
        }
    }

    .model {
        z-index: 1;
        height: 95%;
        position: absolute;
        right: 8%;
        bottom: -4%;
        animation: move-circle 6s linear infinite;

        img {
            height: 100%;
        }
    }

    .background-hashtags {
        display: flex;
        flex-direction: column;
        gap: 30px;
        position: absolute;
        bottom: 25%;
        left: 0;
        right: 0;
        transform: rotate(10deg);
        z-index: 0;

        div {
            display: flex;
            align-items: center;
            gap: 3%;

            p {
                display: block;
                background-color: #ffffffb5;
                border-radius: 50px;
                color: #fff;
                height: 100%;
                margin: 0;
                padding: 0 auto;
                font-weight: 700;
                font-size: .8rem;
                line-height: 2.6rem;
                letter-spacing: 2px;
                width: 20rem;
                text-align: center;
            }
        }

        div:nth-child(1),
        div:nth-child(3) {
            animation: shake 4s linear infinite;
        }

        div:nth-child(2),
        div:nth-child(4) {
            animation: shake-reverse 4s linear infinite;
        }
    }

    .background-brand-logo {
        position: absolute;
        z-index: -1;
        // right: 15%;
        left: 2%;
        bottom: -55%;
        animation: round 20s linear infinite;
    }
}

.block {
    width: 100%;
    height: 20rem;
    position: absolute;
    top: 80vh;
    z-index: 2;
    color: #000;
    overflow: hidden;

    div {
        background-color: $yellow;
        height: 10rem;
        width: 100rem;
        z-index: 2;
        transform: rotate(-3deg);
        position: absolute;
        bottom: 30%;
        left: -5%;
        right: -5%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        p {
            display: block;
            z-index: 2;
            font-size: 4rem;
            font-family: $themefont;
            padding: 0 5% 0 0;
            animation: flashing-2 .6s linear infinite;
        }
    }
}

// new
.new {
    margin: 15vh auto 5vh auto;

    .title {
        margin: 2vh auto;
    }

    .carousel {
        .carousel-inner {
            .carousel-item {
                .content {
                    padding: 3vh;
                }
            }
        }
    }
}

// mag
.mag {
    display: flex;
    height: 40vh;
    width: 100%;
    justify-content: center;
    overflow: hidden;

    .marquee-area {
        display: flex;
        animation: move 40s linear infinite;

        a {
            height: 100%;
            width: 15vw;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            h3 {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;
                color: #fff;
                margin: 0;
                padding: 5px 0;
            }
        }
    }

    &:hover .marquee-area {
        animation-play-state: paused;
    }
}

// topic
.topic {
    background-color: $themecolor;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
        display: flex;
        justify-content: center;

        h2 {
            height: 14vh;
            width: 30vh;
            background-color: #fff;
            border-radius: 28rem 28rem 0 0;
            color: $themecolor;
            padding-top: 60px;
            margin: 0 0 4vh 0;
        }
    }
}

// ads
.ads {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;

    a {
        height: 100%;
        width: 100%;
        display: block;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        button {
            position: absolute;
            padding: 5px 40px;
            background-color: transparent;
            border-radius: 8px;
            letter-spacing: 2px;
            font-size: 1.6rem;
            font-weight: 700;
            left: 8%;
            top: 10%;
            transition: all .4s;

            &:hover {
                background-color: $yellow;
            }

            i {
                margin: 0 0 0 5px;
            }
        }

        h3 {
            position: absolute;
            bottom: 5%;
            right: 5%;
            color: #fff;
            letter-spacing: 2px;
            font-size: 4rem;
        }

        &:hover {
            button {
                i {
                    animation: buy .6s linear infinite;
                }
            }
        }
    }
}

// women
.women {
    margin: 5vh auto;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// footer
.footer {
    width: 100%;
    height: 50vh;
    background-color: $themecolor;
    display: flex;
    margin: 6vh auto 0;
    padding: 2% 5%;

    .logo {
        height: 80%;
        display: flex;
        justify-content: center;
        align-content: center;

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
}

// index.card
.index {
    .content {
        .card {
            &:hover {
                transform: translateY(-8px);
            }
        }
    }
}


// ====================================================================
// all.html
#aside {
    border: 1px solid tomato;
    width: 24vw;
    height: auto;
    padding: 0 0 0 8vw;
    margin: 8vh 0 0 0;
    float: left;
}

#main {
    border: 1px solid #ff0;
    width: 74vw;
    height: 100%;
    padding: 0 8vw 0 0;
    margin: 8vh 0 0 0;
    float: right;

    .carousel {
        border: 1px solid #00f;
        height: 30vh;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2vh;
        margin: 2vh 0 20vh 0;

        .card {
            width: 14rem;
            
            .items {
                img {
                    width: 100%;
                    transition: all .6s;
                }
            }

            &:hover {
                img {
                    transform: scale(1.2);
                }
            }
        }
    }
}



// ====================================================================
// animation

@keyframes move {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes round {
    0% {
        transform: rotate(0) scale(1);
    }

    100% {
        transform: rotate(360deg) scale(1.2);
    }
}

@keyframes move-circle {

    0%,
    100% {
        transform: translate(0, 0);
        filter: drop-shadow(0 0 2rem #fff);
    }

    25% {
        transform: translate(20px, 20px);
        filter: drop-shadow(0 0 1.5rem #ff0);
    }

    50% {
        transform: translate(40px, 0);
        filter: drop-shadow(0 0 1rem #fff);
    }

    75% {
        transform: translate(20px, -30px);
        filter: drop-shadow(0 0 2.5rem #0ff);
    }
}

@keyframes flashing {
    0% {
        color: $yellow;
        filter: drop-shadow(0 0 1.4rem $yellow);
    }

    10% {
        color: $themecolor;

    }

    50% {
        color: #fff;
        filter: drop-shadow(0 0 1rem #fff);
    }

    100% {
        color: $yellow;
        filter: drop-shadow(0 0 1.4rem $yellow);
    }
}

@keyframes flashing-2 {
    0% {
        color: $themecolor;
    }

    100% {
        color: #fff;
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes shake-reverse {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes buy {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(20%);
    }

    100% {
        transform: translateX(0);
    }
}